@{
    ViewData["Title"] = "Listado de Cadetes";
}
@model List<TP3_HerreraLeonel.Entities.Cadete>

<div class="text-center">

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Listado</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Cadete" asp-action="AltaCadete" title="Alta">Alta</a>
        </li>
    </ul>
    <br>
    <!--
    <a class="nav-link text-dark" asp-area="" asp-controller="Cadete" asp-action="DeleteAll_Cadetes" title="Eliminar">Eliminar</a>
    -->

    <h1 class="display-4">Lista de Cadetes</h1>

    <table class="table table-striped">

        <tr>
            <th scope="col">ID</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Telefono</th>
            <th scope="col">Cantidad de Pedidos</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td><b>@item.Id</b></td>
                <td>@item.Nombre</td>
                <td>@item.Direccion</td>
                <td>@item.Telefono</td>
                <td>@item.ListadoPedidos.Count()</td>
            </tr>
        }

    </table>

</div>


