@{
    ViewData["Title"] = "Listado de Cadetes";
}
@model TP3_HerreraLeonel.Entities.Cadete

<div class="text-center">
    <a class="nav-link active" asp-controller="Cadete" asp-action="Index" title="Volver al Listado">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-bar-left" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M12.5 15a.5.5 0 0 1-.5-.5v-13a.5.5 0 0 1 1 0v13a.5.5 0 0 1-.5.5zM10 8a.5.5 0 0 1-.5.5H3.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L3.707 7.5H9.5a.5.5 0 0 1 .5.5z" />
        </svg>
        Volver al Listado
    </a>
  
    <br />

    <h1 class="display-4">Pedidos de <b>@Model.Nombre</b></h1>

    @if (Model.ListadoPedidos.Count() >0)
    {
        <table class="table table-striped">

            <tr>
                <th scope="col">N°</th>
                <th scope="col">Observacion</th>
                <th scope="col" colspan="3">Cliente</th>
                <th scope="col">Estado</th>
            </tr>
            @foreach (var pedido in Model.ListadoPedidos)
            {
                <tr>
                    <td><b>@pedido.Nro</b></td>
                    <td>@pedido.Observacion</td>
                    <td>@pedido.Cliente.Nombre</td>
                    <td>@pedido.Cliente.Direccion</td>
                    <td>@pedido.Cliente.Telefono</td>
                    <td>@pedido.Estado</td>
                </tr>
            }
        </table>

    }
    else
    {
        <div class="alert alert-warning d-flex align-items-center" role="alert">
            <div>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond-fill" viewBox="0 0 16 16">
                    <path d="M9.05.435c-.58-.58-1.52-.58-2.1 0L.436 6.95c-.58.58-.58 1.519 0 2.098l6.516 6.516c.58.58 1.519.58 2.098 0l6.516-6.516c.58-.58.58-1.519 0-2.098L9.05.435zM8 4c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995A.905.905 0 0 1 8 4zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                </svg>
                <b>No se esta encontrando un registro hasta ahora</b>
            </div>
        </div>
    }
</div>

